@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f8f9fa;
}

.primary {
	background-color: #f8f9fa !important;
}
.secondary {
	background-color: #343a40 !important;
}
.accent {
	background-color: #212529 !important;
}

.action {
	background-color: #314866 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
