@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	background-color: rgb(251, 248, 248);
}

.primary {
	background-color: #00b894;
}
.secondary {
	background-color: white;
}
.accent {
	background-color: #6bb4b4;
}
.action {
	background-color: #314866;
}
