.comment-panel {
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 8px;
	margin-top: 10px;
}

.comment-panel h3 {
	font-size: 12px;
	margin-bottom: 10px;
}

.comment-panel p {
	margin-bottom: 20px;
	color: #777777;
}

.comment-list {
	margin-bottom: 20px;
}

.comment-item {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #ffffff;
	border-radius: 4px;
}

.comment-item:last-child {
	margin-bottom: 0;
}

.comment-header {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}
.comment-profile-picture {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
}

.comment-profile-info {
	flex: 1;
	display: flex;
	align-items: baseline;
}
.comment-profile-name {
	margin: 0;
	font-size: 2px;
	font-weight: bold;
	margin-right: 10px;
}

.post-time {
	margin: 0;
	font-size: 8px;
	color: #999;
}

.comment-item .comment-text {
	font-size: 16px;
}

.comment-form {
	display: flex;
	align-items: center;
}

.comment-form input[type='text'] {
	flex: 1;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #dddddd;
	margin-right: 10px;
}

.comment-form button {
	padding: 8px 20px;
	background-color: #4caf50;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	font-size: 14px;
}

.comment-form button:disabled {
	background-color: #949292;
	cursor: not-allowed;
}
