.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	font-family: 'Poppins', sans-serif;
}

.modal-content {
	background-color: #fff;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 300px;
	width: 90%;
}

.modal-content h2 {
	margin-top: 0;
	margin-bottom: 16px;
}

.form-group {
	margin-bottom: 16px;
}

.form-group label {
	display: block;
	margin-bottom: 4px;
}

textarea {
	width: 90%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 8px;
	resize: vertical;
}

input[type='file'] {
	display: block;
	margin-top: 4px;
}

.form-actions {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
}

.cancel-button {
	background-color: #756e6e;
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	transition: background-color 0.3s, transform 0.3s;
}

.cancel-button:hover {
	background-color: #756e6e;
	cursor: pointer;
}

.cancel-button:active {
	transform: scale(0.95);
}

.submit-button {
	background-color: #212529;
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
	background-color: #212529;
	cursor: pointer;
}

.submit-button:active {
	transform: scale(0.95);
}
