/* MapContainer.component.css */

.toggle-container {
	position: absolute;
	top: 120px;
	right: 5px;
	z-index: 1;
	padding: 4px;
	display: flex;
	flex-direction: column;
	width: 50px;
}

.source-toggle-button {
	padding: 8px 10px;
	border: none;
	border-radius: 50%;
	background-color: #fff;
	color: #212529;
	font-weight: bold;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 12px;
}

.style-toggle-button {
	margin-top: 18px;
	padding: 8px 12px;
	border: none;
	border-radius: 50%;
	background-color: #fff;
	color: #212529;
	font-weight: bold;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 12px;
}

.category-container {
	position: absolute !important;
	top: 57px;
	right: -13px;
	z-index: 1;
	padding: 4px;
	display: flex;
	width: 100%;
	overflow-x: scroll;
	flex-direction: row;
	justify-content: space-evenly;
	height: 55px;
}

.category-toggle-button {
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	background-color: #343a40;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #f8f9fa;
	cursor: pointer;
	opacity: 0.7;
	transition: opacity 0.3s ease;
	border: none;
	border-radius: 20px;
}

.category-toggle-button.active {
	background-color: #212529;
	color: #fff;
	opacity: 1;
	border-radius: 20px;
}

.category-toggle-button:hover {
	opacity: 1;
}
