@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
.splash-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.splash-image {
	max-width: 100%;
	max-height: 100%;
	/* animation: fade-in 1s ease-in; */
	animation: breathing 5s ease-out infinite;
}

.splash-imageloaded {
	max-width: 100%;
	max-height: 100%;
	/* animation: fade-in 1s ease-in; */
	animation: breathing 5s ease-out infinite;
}

.app-name {
	color: white;
	font-family: 'Roboto Slab' sans-serif !important;
	animation: breathing 5s ease-out infinite;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes breathing {
	0% {
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
	}

	25% {
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}

	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	75% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes breathing {
	0% {
		-webkit-transform: scale(0.7);
		-ms-transform: scale(0.7);
		transform: scale(0.7);
	}

	25% {
		-webkit-transform: scale(0.7);
		-ms-transform: scale(0.7);
		transform: scale(0.7);
	}

	50% {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
	75% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes breathing-in {
	0% {
		transform: scale(0.9);
	}
	25% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}
