.register-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top: 2rem;
}

.register-form {
	width: 100%;
	max-width: 20rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
}

.register-form label {
	margin-bottom: 0.5rem;
}
.register-form input[type='name'],
.register-form input[type='email'],
.register-form input[type='password'],
.register-form input[type='address'] {
	border: 1px solid #000;
	border-radius: 0.75rem;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}
.gender-label {
	margin-bottom: 0.5rem;
}

.gender-options {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.gender-option {
	display: flex;
	align-items: center;
	margin-right: 0.45rem;
	margin-bottom: 0.5rem;
}

.gender-option input[type='radio'] {
	margin-right: 0.3rem;
	margin-bottom: 0.5rem;
}
.register-button {
	display: flex;
	justify-content: center;
}

.register-button button {
	width: 50%;
	background-color: #212529;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 0.75rem;
	border: none;
	border-radius: 0.25rem;
	margin-top: 0.75rem;
	cursor: pointer;
	text-align: center;
}

.register-button button:hover {
	background-color: #27699f;
}

.register-button button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.or-text {
	margin-top: 1rem;
}

.google-button {
	margin-top: 1rem;
}

.google-button button {
	background-color: #3182ce;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 0.75rem;
	border: none;
	border-radius: 0.25rem;
	margin-top: 0.25rem;
	cursor: pointer;
	text-align: center;
}

.google-button button:hover {
	background-color: #27699f;
}
